<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thé Anonyme</title>
  <link rel="icon" type="image/png" href="/static/img/detecteave.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/home.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/fff07aaee2.js" crossorigin="anonymous"></script>
</head>
<body>
  <main>
    <br/>
    <!-- Simple header / Maybe I'll merge with all others forms -->
    <header>
      <div class="container-fluid fullHeight">
        <div class="row mb-3 text-center fullHeight">
          <div class="offset-1 col-10 offset-md-2 col-md-8 offset-xxl-3 col-xxl-6 fullHeight">
            <div class="logoTheAnonyme"></div>
          </div>    
        </div>
      </div>
    </header>
    <!-- Warning and Instructions -->
    <div class="container-fluid fullHeight">
      <div class="row mb-3 fullHeight">
        <div class="offset-1 col-10 offset-md-2 col-md-8 offset-xxl-3 col-xxl-6 fullHeight">
          <div class="card">
            <h3 class="text-center">Avant d'effectuer ta contribution, sois sûr.e que :</h3>
            <ul>
              <li>Qu'elle peut être partagé de manière suffisamment anonyme</li>
              <li>Qu'elle ne soit pas un trauma dump : L'idée reste d'avoir une safe place afin de tous en profiter, et de ne pas réveiller des triggers chez d'autres gens</li>
              <li>Qu'elle soit lisable en stream (du moins, qu'elle respecte les CGU de Twitch)</li>
            </ul>

          </div>
        </div>    
      </div>
      <!-- Form -->
      <div class="row mb-3 text-center fullHeight" style="padding-bottom: 50px;">
        <div class="offset-1 col-10 offset-md-2 col-md-8 offset-xxl-3 col-xxl-6 fullHeight">
          <div id="divForm" class="card">
            <h1>Envoyer un thé</h1>

            <div class="mb-3">
              <label for="title" class="form-label">Sujet *</label>
              <input type="text" class="form-control" id="title" placeholder="Un thé impressionant">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message *</label>
              <textarea id="message" class="form-control" placeholder="L'anecdote démarre quand le mari de ma tante du cousin de la fille de mon oncle du grand père de ma mère a..."></textarea>
            </div>
            <p id="alert"></p>
            <button id="send-btn" onclick="sendForm()" class="btn btn-primary">Envoyer</button>
          </div>
        </div>    
      </div>
    </div>
    
  </main>

  <script>
    async function sendForm() {
      //Get DOM element
      const title = document.getElementById('title').value.trim();
      const message = document.getElementById('message').value.trim();
      const alert = document.getElementById('alert');
      const btn = document.getElementById('send-btn');
      // Verify if value in form are correct
      if (!title) { document.getElementById('title').focus();  alert.textContent = 'Ajoutez un titre !'; alert.className   = 'alert alert-danger'; return; }
      if (title.length > 300) { document.getElementById('title').focus(); alert.textContent = 'Titre trop long ! Veuillez rentrer moins de 300 caractères !'; alert.className = 'alert alert-danger'; return; }
      if (!message) { document.getElementById('message').focus();  alert.textContent = 'Ajoutez l\'anecdote !'; alert.className   = 'alert alert-danger'; return;  }
      if (message.length > 5000) { document.getElementById('title').focus(); alert.textContent = 'Anecdote trop longue !  Veuillez rentrer moins de 5000 caractères !'; alert.className   = 'alert alert-danger'; return; }
      // Reset button & alert
      btn.disabled = true;
      btn.textContent = 'Envoi…';
      alert.textContent = '';
      alert.className   = 'alert';

      // Send Form
      const res = await fetch('/submit', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ title, message })
      });

      // Process form return
      if (res.ok) {
        //If OK / Remove everything and display anecdote id
        document.getElementById('title').value = '';
        document.getElementById('message').value = '';
        let data = await res.json()
        document.getElementById('divForm').innerHTML = `<h2>Votre message a bien été envoyé, merci ! Elle a été référencé en tant qu'anecdote #${data.id}`;
      } else {
        // If not OK 
        // Rearm button
        btn.disabled = false;
        btn.textContent = 'Envoyer';
        // Display error : Are you a spammer or did the server did something wrong ?
        alert.className = 'alert alert-danger';
        if(res.status == 429) {
          alert.textContent = 'Vous avez déjà envoyé un thé il y a moins d\'une minute !';
        } else {
          alert.textContent = 'Erreur, veuillez réessayer.';
        }
      }      
    }
  </script>
</body>
</html>
