<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thé Anonyme - Messages</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/messages.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/fff07aaee2.js" crossorigin="anonymous"></script>
</head>
<body>
  <main>
    <header>
      <div class="container">
        <div class="row mb-3 text-center" style="height: 100px"> 
          <div class="col-0 col-md-2"></div> 
          <div class="col-8 col-md-8">
            <div style="height:100%; width: 100%; background: center / contain no-repeat url('/static/img/theanonyme.png')"></div>
          </div> 
          <div class="col-4 col-md-2">
            <a class="btn btn-danger" href="/logout" role="button"><span>
                  <i class="fa-solid fa-right-from-bracket"></i>
              </span>Déconnexion
            </a>
            <button class="btn btn-violet" id="sidebarToggle" onclick="toggleSidebar()">
              <span>
                  <i class="fa-brands fa-twitch"></i>
              </span>
              Ouvrir le tchat
            </button>
          </div>
          
        </div>
      </div>
      
      
      <h1 style="display:none;">Nombre de thés servis : <span id="counter">0</span></h1>
    </header>

    <div class="d-flex" id="appWrapper">
      <div class="flex-grow-1" id="mainContent">
        <div class="container-flow" style="height: 60px;">
          <div class="row text-center"> 
            <div class="offset-1 col-10" style="display:flex; justify-content: center;">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item pointer">
                    <a class="page-link" onclick="switchToPage('1')" aria-label="To first">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li id="pageItemLower" class="page-item disabled pointer"><a class="page-link" onclick="switchToPage('')">...</a></li>
                  <li id="pageItemActual" class="page-item active pointer"><a class="page-link" onclick="switchToPage('1')">1</a></li>
                  <li id="pageItemHigher"class="page-item disabled pointer"><a class="page-link" onclick="switchToPage('')">...</a></li>
                  <li class="page-item pointer">
                    <a class="page-link" onclick="switchToPage('999999')" aria-label="To last">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="container-flow overflow-auto" style="height: calc(100% - 60px);">
          <div class="row text-center"> 
            <div class="offset-1 col-10" id="messageList"></div> 
          </div>
        </div>
      </div>
      <div id="sidePanel" class="side-panel">
        <div class="side-panel-inner" style="overflow: hidden;">
          <iframe src="https://www.twitch.tv/embed/{{ twitch_username }}/chat?parent={{ website_domain }}"
                  height="100%"
                  width="100%">
          </iframe>
        </div>
      </div>
    </div>
  </main>

  <script>

    function toggleSidebar() {
      document.getElementById('sidePanel').classList.toggle('open');
    }

    let page = 1;
    let newPage = 1; 
    let messageIdOnPage = [];


    /*********************
    * Polling Functions
    **********************/

    async function poll() {
      // Polling
      const res  = await fetch(`/poll?page=${newPage}`);
      const data = await res.json();
      // Verify if this is a new page
      if(newPage > data.pagesNumber) {
        newPage = data.pagesNumber;
      }
      if (newPage != page) {
        document.getElementById('messageList').innerHTML = '';
        page = newPage;
      }
      updatePagination(page, data.pagesNumber);
      // Verify which message are already on page
      messageIdOnPage = [...document.querySelectorAll("[id^='messageId_']")].map(el => el.getAttribute("value"))
      data.messages.forEach(item => {
        if (!messageIdOnPage.includes(String(item.id))){ appendRow(item); }
      });
      // Update number of messages
      document.getElementById('counter').textContent = data.total;
    }
 
    /*********************
    * Messages Functions
    **********************/

    function appendRow(item) { 
      const divRow = document.createElement('div');
      divRow.setAttribute("id", `cardMessage_${item.id}`);
      divRow.classList.add('card');
      divRow.classList.add('card-body');
      divRow.innerHTML = `
        <div class="container-flow">
          <div class="row mb-3 text-center"> 
            <div class="col-1 col-md-1" id="messageId_${item.id}" value="${item.id}">#${item.id}</div>
            <div class="col-3 col-md-2">${item.time}</div>
            <div class="col-4 col-md-7">${formatText(item.title || '—')}</div>
            <div class="col-2 col-md-1" style="display:flex; justify-content: space-evenly; align-items: center;">
              <input class="form-check-input" type="checkbox" value="" id="checkMessage_${item.id}" checkboxMessageId="${item.id}" style="-webkit-transform: scale(2);" onchange="alreadyReadMessage(this)"">
            </div>
            <div class="col-2 col-md-1" style="display:flex; justify-content: space-evenly; align-items: center;">
              <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseMessage_${item.id}" role="button" aria-expanded="false">▼</a>
            </div>
          </div>
        </div>
          <div class="collapse" id="collapseMessage_${item.id}">
          <div class="card card-body">
            ${formatText(item.message || '—')}
          </div>
        </div>
      `;
 
      const divMessageList = document.getElementById('messageList');
      divMessageList.appendChild(divRow);
    }

    /*********************
    * Pagination Functions
    **********************/

    function switchToPage(pageNumber){
      if(pageNumber != page){
        newPage = pageNumber;
        document.getElementById('messageList').innerHTML = `
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        `;
        poll();
      }
    }

    function updatePagination(pageNumber, maxPageNumber) {
      const [lower, actual, higher] = pageNumber === 1 && maxPageNumber === 1
        ? ["...", "1", "..."]
        : getUpperLowerNumberPagination(parseInt(pageNumber), parseInt(maxPageNumber));

      setPageItem("pageItemLower", lower);
      setPageItem("pageItemActual", actual, true);
      setPageItem("pageItemHigher", higher);
    }

    function setPageItem(id, value, isActive = false) {
      const li = document.getElementById(id);
      const a = li.querySelector("a");
      const isDots = value === "...";

      a.textContent = value;
      isDots ? a.removeAttribute("onclick") : a.setAttribute("onclick", `switchToPage('${value}')`);
      li.classList.toggle("disabled", isDots);
      li.classList.toggle("active", isActive && !isDots);
    }

    /*********************
    * Misc Functions
    **********************/

    function getUpperLowerNumberPagination(pageNumber, maxPageNumber){
      if (pageNumber === 1) return ["...", "1", "2"];
      if (pageNumber === maxPageNumber) return [String(maxPageNumber - 1), String(maxPageNumber), "..."];
      console.log([String(pageNumber - 1), String(pageNumber), String(pageNumber + 1)])
      return [String(pageNumber - 1), String(pageNumber), String(pageNumber + 1)];
    }

    function formatText(str) {
      return String(str)
        .replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/"/g, '&quot;');
    }

    function alreadyReadMessage(domElement){
      const id = domElement.getAttribute("checkboxMessageId");
      const domCard = document.getElementById(`cardMessage_${id}`)
      if(domElement.checked){
        domCard.classList.add("alreadySeenMessage")
      } else {
        domCard.classList.remove("alreadySeenMessage")
      }
    }
    
    /*********************
    * Misc Events
    **********************/

    document.addEventListener("show.bs.collapse", e => {
      document.querySelector(`[href='#${e.target.id}']`).textContent = "▲";
    });
    document.addEventListener("hide.bs.collapse", e => {
      document.querySelector(`[href='#${e.target.id}']`).textContent = "▼";
    });
    
    /*********************
    * General
    **********************/
  
    poll();
    intervalPoll = setInterval(poll, 2000);

    // if(pageId)
  </script>
</body>
</html>
